* {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-family: Courier;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 593px) 658px 593px 161px;
    grid-template-columns: 4fr 2fr 2fr 1fr 3fr;
}

.grid-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#one {
    grid-area: 1 / 1 / 2 / 6;
    background-color: #8895B3;
}

#two {
    grid-area: 2 / 1 / 3 / 3;
    background-color: #8E94F2;
}

#three {
    grid-area: 2 / 3 / 3 / 6;
    background-color: #9FA0FF;
}

#four {
    grid-area: 3 / 1 / 4 / 5;
    background-color: #BBADFF;
}

#five {
    grid-area: 3 / 5 / 4 / 6;
    background-color: #DAB6FC;
}

#six {
    grid-area: 4 / 1 / 5 / 2;
    background-color: #8E94F2;
}

#seven {
    grid-area: 4 / 2 / 5 / 4;
    background-color: #9FA0FF;
}

#eight {
    grid-area: 4 / 4 / 5 / 6;
    background-color: #8E94F2;
}

#nine {
    grid-area: 5 / 1 / 6 / 6;
    background-color: #b9ffe0;
}

#ten {
    grid-area: 6 / 1 / 7 / 6;
    background-color: #a3f0ff;
}