* {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-family: Courier;
}

.grid-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.grid-container2 {
    display: grid;
    grid-template-rows: 644px 579px 587px 573px 480px 259px;
    grid-template-columns: 3fr 1fr 2fr 2fr 1fr 1fr 2fr;
}

#one2 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #E88D67;
}

#two2 {
    grid-area: 1 / 3 / 2 / 5;
    background-color: #BB999C;
}

#three2 {
    grid-area: 1 / 5 / 2 / 8;
    background-color: #E88D67;
}

#four2 {
    grid-area: 2 / 1 / 3 / 7;
    background-color: #9999C3;
}

#five2 {
    grid-area: 2 / 7 / 3 / 8;
    background-color: #7B8CDE;
}

#six2 {
    grid-area: 3 / 1 / 4 / 5;
    background-color: #C0E6DE;
}

#seven2 {
    grid-area: 3 / 5 / 5 / 8;
    background-color: #EAEAEA;
}

#eight2 {
    grid-area: 4 / 1 / 5 / 5;
    background-color: #CBC5EA;
}

#nine2 {
    grid-area: 5 / 1 / 6 / 2;
    background-color: #E88D67;
}

#ten2 {
    grid-area: 5 / 2 / 6 / 4;
    background-color: #BB999C;
}

#eleven2 {
    grid-area: 5 / 4 / 6 / 6;
    background-color: #E88D67;
}

#twelve2 {
    grid-area: 5 / 6 / 6 / 8;
    background-color: #73628A;
}

#thirteen2 {
    grid-area: 6 / 1 / 7 / 8;
    background-color: #313D5A;
}