:root {
    --backgroundBlue: rgb(45,49,68);
    --backgroundBlueTransparent: rgba(45,49,68,.7);
    --boxColor: rgb(217,217,217);
}

.screen {
    width: 100%;
    height: 900px;
}

section {
    position: relative;
    top: 40px;
    text-align: center;
    line-height: 30px;
}

.sec {
    position: relative;
    top: 22%;
}

.bolder {
    font-family: 'Abril Fatface', cursive;
}

.long {
    position: relative;
    top: 40;
    text-align:left;
    line-height: 40px;
    font-family: 'Playfair Display', serif;
    color: var(--boxColor);
    font-size: 30px;
}

footer {
    width: 100%;
    height: 150px;
    background-color: var(--boxColor);
    color: var(--backgroundBlue);
    font-size: 30px;
    font-family: 'Combo', cursive;
}

.regText {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    position: relative;
    top: 8px;
}

.foot {
    position: relative;
    top: 17px;
    line-height: 38px;
}

#inter1 {
    position: relative;
    left: 30%;
}

#inter2 {
    position: relative;
    left: 30%;
}

nav {
    position: sticky;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: var(--backgroundBlue);
    border-bottom: var(--boxColor) 1px solid;
    z-index: 10;
    font-family: 'Playfair Display', serif;
}

.navLink {
    padding-top: 8px;
    align-content: center;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    background-color: var(--boxColor);
    width: 170px;
    height: 35px;
}

.button {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}

.grid-container2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-container3 {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-item2 {
    overflow-y: scroll;
    overflow-x: hidden;
    border: 100px var(--backgroundBlue) solid;
}

#one.two {
    border-left: 100px;
    border-right: 50px;
}

#two.two {
    border-right: 50px;
    border-left: 100px;
}

.icon {
    position: absolute;
    display: inline;
    width: 70px;
    height: 70px;
}

#graph {
    top:-60px;
    left:7px;
}

#onePillow {
    top: 130%;
    left: 80%;
}

#twoPillows {
    top: -60px;
    left: 7px;
}

#allergy {
    top: 130%;
    left: 80%;
}

#sky {
    top: 103%;
    left: 80%;
}

#karaoke {
    top: -60px;
    left: 7px;
}

#tire {
    top: -60px;
    left: 7px;
}

#arrow {
    top: -60px;
    left: 7px;
}

#patience {
    top: 130%;
    left: 80%;
}

#empathy {
    top: 130%;
    left: 80%;
}

a { 
    color: var(--backgroundBlue); 
}

a:visited { 
    color: var(--backgroundBlue); 
}

.a {
    padding-top: 20px;
}

.list {
    display: inline-block;
}

.qna {
    font-family: 'Playfair Display', serif;
    font-size: 130%;
}

* {
    margin: 0;
    padding: 0;
}

#text {
    height: 260px;
    width: 700px;
    background-color: rgba(217, 217, 217, .7);;
    font-family: 'Combo', cursive;
    text-align: center;
    position: relative;
    top: 70%;
    left: 50%;
    margin-left: -350px;
    color: var(--backgroundBlue);
    font-size: 250px;
    
}

#first {
    background: url("../images/Aviela.JPG") no-repeat center center;
    background-size: cover;
    width: 100%;
}

#second {
    border-top: 2px var(--boxColor) solid;
    background-color: var(--boxColor);
}

#third {
    border-top: 2px var(--boxColor) solid;
    border-bottom: 2px var(--boxColor) solid;
    background-color: var(--backgroundBlue);
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33.333333333% 33.333333333% 33.333333333%;
    grid-template-rows: 1fr .93fr 1fr;
}

.grid-item {
    border-top: 30px;
    border-bottom: 30px;
    border-right: 30px;
    border-left: 30px;
    border-color: var(--backgroundBlue);
    border-style: solid;
}

#one {
    border-top: 60px;
    border-left: 60px;
    border-style: solid;
    border-color: var(--backgroundBlue);
}

#two {
    border-top: 60px;
    border-style: solid;
    border-color: var(--backgroundBlue);
}

#three {
    border-top: 60px;
    border-right: 60px;
    border-style: solid;
    border-color: var(--backgroundBlue);
}

#four {
    border-left: 60px;
    border-style: solid;
    border-color: var(--backgroundBlue);
}

#six {
    border-right: 60px;
    border-style: solid;
    border-color: var(--backgroundBlue);
}

#seven {
    border-left: 60px;
    border-bottom: 60px;
    border-style: solid;
    border-color: var(--backgroundBlue);
}

#eight {
    border-bottom: 60px;
    border-style: solid;
    border-color: var(--backgroundBlue);
}

#nine {
    border-bottom: 60px;
    border-right: 60px;
    border-style: solid;
    border-color: var(--backgroundBlue);
}

@media (max-height: 1400px) {
    .screen {
        height: 1200px;
    }
}