* {
    margin: 0;
    padding: 0;
}

/**------------------------------------------------------------------------------------------------------------------------------**/
/**------------------------------------------------------------MAIN-START----------------------------------------------------------**/
/**------------------------------------------------------------------------------------------------------------------------------**/

/**------------------------------------------------------------NAVBAR-START----------------------------------------------------------**/
nav {
    width: 100%;
    height: 120px;
    background-color: #363636;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

#logo-link {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-logo {
    width: 144px;
    height: 80px;
    padding: 10px 10px 10px 30px;
}

.nav-logo-small {
    display: none;
}

#hidden-link {
    display: none;
}

.nav-button {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}

.nav-link {
    color: #82FD87;
    text-decoration: none;
}   

#project-button {
    grid-area: 1 / 9 / 2 / 10;
}

#learn-button {
    grid-area: 1 / 10 / 2 / 11;
}

#about-button {
    grid-area: 1 / 11 / 2 / 12;
}

@media only screen and (max-width: 1300px) {
    nav {
        column-gap: 15px;
    }
}

@media only screen and (max-width: 610px) {
    .nav-logo {
        display: none;
    }
    .nav-logo-small {
        display: block;
        width: 144px;
        height: 80px;
        padding: 10px 10px 10px 30px;
    }
    #hidden-link {
        display: block;
        grid-area: 1 / 1 / 2 / 3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    nav {
        column-gap: 20px;
    }

    .nav-button {
        font-size: 20px;
    }
    #project-button {
        grid-area: 1 / 7 / 2 / 8;
    }

    #learn-button {
        grid-area: 1 / 8 / 2 / 9;
    }

    #about-button {
        grid-area: 1 / 9 / 2 / 10;
    }
}
@media only screen and (max-width: 480px) {
    .nav-logo {
        width: 140px;
        height: 80px;
        padding: 15px 5px 5px 15px;
    }
    .nav-button {
        font-size: 18px;
    }
}
/**------------------------------------------------------------NAVBAR-END----------------------------------------------------------**/



/**------------------------------------------------------------LANDING-START----------------------------------------------------------**/

.landing-section {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/community_gardens.jpg") no-repeat center;
    background-size: cover;
}

.landing-text {
    color: white;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    top: -12%;
    -webkit-text-stroke: 2px black;
    padding: 40px;
    text-align: center;
}

@media only screen and (max-width: 830px) {
    .landing-text {
        font-size: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .landing-text {
        padding: 40px;
        text-align: center;
    }
    .landing-section {
        height: 50vh;
    }
}
/**------------------------------------------------------------LANDING-END----------------------------------------------------------**/



/**------------------------------------------------------------INTRO-START----------------------------------------------------------**/

.info-text {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

#top-img {
    background: url("../images/top-image.jpeg") no-repeat center;
    background-size: cover;
    grid-area: 1 / 1 / 2 / 2;
}

#split-box {
    display: flex;
    justify-self: center;
    grid-area: 2 / 1 / 3 / 3;
    height:0px;
    width: 70%;
    border-top: #7CB4B8 3px solid;
    margin-top: 3.8px;
}

#top-text {
    grid-area: 1 / 2 / 2 / 3;
    padding: 40px;
}

#bottom-img {
    background: url("../images/botImg.jpeg") no-repeat center;
    background-size: cover;
    grid-area: 2 / 2 / 3 / 3;
}

#bottom-text {
    grid-area: 2 / 1 / 3 / 2;
    padding: 40px;
}

@media only screen and (max-width: 1260px) {
    .text {
        font-size: 25px;
    }
}
@media only screen and (max-width: 1030px) {
    .text {
        font-size: 22px;
    }
}
@media only screen and (max-width: 830px) {
    .text {
        font-size: 20px;
    }
}
@media only screen and (max-width: 760px) {
    .info-text {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 70vh 400px 70vh;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        max-width: 100%;
        background-color: whitesmoke;
    }

    #top-img {
        grid-area: 2 / 1 / 3 / 2;
    }

    #split-box {
        display: none;
    }

    #top-text {
        grid-area: 1 / 1 / 2 / 2;
        padding: 20px 80px;
    }

    #bottom-img {
        grid-area: 4 / 1 / 5 / 2;
    }

    #bottom-text {
        grid-area: 3 / 1 / 4 / 2;
        margin: 0px;
        padding-right: 80px;
        padding-left: 80px;
    }
}

@media only screen and (max-width: 650px) {
    .info-text {
        grid-template-rows: 400px 60vh 400px 60vh;
    }
}

@media only screen and (max-width: 600px) {
    #bottom-text {
        padding-right: 40px;
        padding-left: 40px;
    }
    #top-text {
        padding-right: 40px;
        padding-left: 40px;
    }
    .text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .info-text {
        grid-template-rows: 300px 60vh 300px 60vh;
    }
}

/**------------------------------------------------------------INTRO-END----------------------------------------------------------**/


/**------------------------------------------------------------ENDPHOTO-START----------------------------------------------------------**/

.end-section {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/mainImg.jpeg") no-repeat center;
    background-size: cover;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .end-section {
        height: 50vh;
    }
}

/**------------------------------------------------------------ENDPHOTO-END----------------------------------------------------------**/


/**------------------------------------------------------------FOOTER-START----------------------------------------------------------**/

footer {
    display: grid;
    background-color: #363636;
    height: 250px;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100%;
    column-gap: 30px;
}

.logo-container {
    grid-area: 1 / 1 / 2 / 4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 310px;
    height: 170px;
    padding: 30px;
}

.footer-title {
    position: relative;
    top: -30px;
    font-family: 'Work Sans';
    font-size: 32px;
    color: white;
}

.footer-link {
    font-family: 'Raleway';
    color: white;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding-bottom: 20px;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-footer {
    grid-area: 1 / 4 / 2 / 7;
}

#learn-footer {
    grid-area: 1 / 7 / 2 / 10;
}

#contact-footer {
    grid-area: 1 / 10 / 2 / 13;
}

@media only screen and (max-width: 1300px) {
    .footer-logo {
        width: 215px;
        height: 120px;
        padding: 30px;
    }
}

@media only screen and (max-width: 950px) {
    .footer-link {
        font-size: 13px;
    }
    .footer-logo {
        width: 180px;
        height: 100px;
        padding: 30px;
    }
}

@media only screen and (max-width: 760px) {
    footer {
        display: grid;
        background-color: #363636;
        height: 400px;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
    }

    .logo-container {
        grid-area: 1 / 1 / 2 / 2;
    }

    .footer-logo {
        width: 180px;
        height: 100px;
        padding: 30px;
    }

    .footer-link {
        font-family: 'Raleway';
        color: white;
        font-size: 13px;
        text-decoration: none;
        display: block;
        padding-bottom: 15px;
    }

    .footer-title {
        position: relative;
        top: -15px;
    }

    #project-footer {
        grid-area: 1 / 2 / 2 / 3;
    }

    #learn-footer {
        grid-area: 2 / 1 / 3 / 2;
    }

    #contact-footer {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media only screen and (max-width: 450px) {
    footer {
        column-gap: 0px;
    }
}

.footer-link:hover {
    color: #82FD87;
}


/**------------------------------------------------------------FOOTER-END----------------------------------------------------------**/


/**------------------------------------------------------------------------------------------------------------------------------**/
/**------------------------------------------------------------MAIN-END----------------------------------------------------------**/
/**------------------------------------------------------------------------------------------------------------------------------**/


/**------------------------------------------------------------------------------------------------------------------------------**/
/**------------------------------------------------------------PROJECTS-START----------------------------------------------------**/
/**------------------------------------------------------------------------------------------------------------------------------**/

/**------------------------------------------------------------SLIDE-START------------------------------------------------------**/
.photo-slider {
    height: 80vh;
    overflow: hidden;
}

.slide-image {
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes leftSlideOut {
    100% {
        left: -100%;
    }
}
@keyframes leftSlideIn {
    100% {
        left: 0;
    }
}
@keyframes rightSlideOut {
    100% {
        left: 100%;
    }
}
@keyframes rightSlideIn {
    100% {
        left: 0;
    }
}

@keyframes delete {
    100% {
        display: none;
    }
}

#start {
    background: url("../images/start-garden.png") no-repeat center;
    background-size: cover;
    left: 0;
    top: 0;
}

#middle {
    background: url("../images/mid-garden.png") no-repeat center;
    background-size: cover;
}

#end {
    background: url("../images/garden-final.png") no-repeat center;
    background-size: cover;
}

.green-circle {
    height: 20px;
    width: 20px;
    margin: 0px 5px 20px 5px;
    background: url("../images/green-circle.png") no-repeat center;
    background-size: cover;
}

.white-circle {
    height: 20px;
    width: 20px;
    margin: 0px 5px 20px 5px;
    background: url("../images/white-circle.png") no-repeat center;
    background-size: cover;
}

.circle-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: translateY(-100%);
    z-index: 2;
}

.subject {
    font-size: 40px;
    text-align: center;
    font-family: 'Work Sans';
}

#backyard {
    padding-top: 20px;
    background-color: ghostwhite;
}

.info-paragraph {
    padding: 60px 10%;
    font-size: 32px;
    font-family: 'Raleway';
    margin-bottom: 10px;
    background-color: ghostwhite;
}

#split {
    display: flex;
    justify-self: center;
    height: 0px;
    width: 70%;
    margin: 0px 15% 0px 15%;
    border-top: #7CB4B8 3px solid;
    margin-top: 3.8px;
}

#harvest {
    margin: 50px 0px;
}

@media only screen and (min-width: 1700px) {
    .info-paragraph {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media only screen and (max-width: 650px) {
    .info-paragraph {
        font-size: 25px;
    }
    .photo-slider {
        height: 50vh;
    }
    .subject {
        font-size: 32px;
    }
}

@media only screen and (max-width: 450px) {
    .info-paragraph {
        font-size: 20px;
    }
    .subject {
        font-size: 25px;
    }
}

/**------------------------------------------------------------SLIDE-END------------------------------------------------------**/


/**------------------------------------------------------------GALLERY-START------------------------------------------------------**/

.gallery-container {
    width: 80%;
    height: 60vh;
    padding: 0px 10% 50px 10%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 30px;
    font-family: 'Raleway';
}

#pumpkin {
    grid-area: 1 / 1 / 3 / 5;
    background: url("../images/garden-pumkin.png") center no-repeat;
    background-size: cover;
}
#plant {
    grid-area: 1 / 5 / 2 / 9;
    background: url("../images/garden-plant.png") center no-repeat;
    background-size: cover;
}
#bean {
    grid-area: 2 / 5 / 3 / 9;
    background: url("../images/garden-beans.webp") center no-repeat;
    background-size: cover;
}
#pea {
    grid-area: 1 / 9 / 3 / 13;
    background: url("../images/garden-peas.jpeg") center no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1200px) {
    .gallery-container {
        height: 50vh;
    }
}

@media only screen and (max-width: 900px) {
    .harvest-image {
        margin: 10% 5%;
        width: 90%;
        height: 600px;
    }
    .gallery-container {
        display: block;
        height: auto;
    }
}


/**------------------------------------------------------------GALLERY-END------------------------------------------------------**/


/**------------------------------------------------------------------------------------------------------------------------------**/
/**------------------------------------------------------------PROJECTS-END----------------------------------------------------**/
/**------------------------------------------------------------------------------------------------------------------------------**/



/**------------------------------------------------------------------------------------------------------------------------------**/
/**------------------------------------------------------------LEARN-START----------------------------------------------------**/
/**------------------------------------------------------------------------------------------------------------------------------**/

/**------------------------------------------------------------TOP-START------------------------------------------------------**/
.top-section {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/learn-landing.png") no-repeat center;
    background-size: cover;
}
/**------------------------------------------------------------TOP-END------------------------------------------------------**/

/**------------------------------------------------------------SIDE-START------------------------------------------------------**/
.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 150vh;
}

.side-img {
    width: 100%;
    height: 100%;
}

.side-txt {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    padding: 5%;
    width: 90%;
    height: 90%;
}

#top-image {
    background: url("../images/tree-seeds.webp") no-repeat center;
    background-size: cover;
    grid-area: 1 / 1 / 2 / 2;
}

#top-txt {
    grid-area: 1 / 2 / 2 / 3;
}

#middle-image {
    background: url("../images/stratification.png") no-repeat center;
    background-size: cover;
    grid-area: 2 / 2 / 3 / 3;
}

#middle-txt {
    grid-area: 2 / 1 / 3 / 2;
}

#bot-txt {
    grid-area: 3 / 2 / 4 / 3;
}

#bot-image {
    background: url("../images/germination.jpeg") no-repeat center;
    background-size: cover;
    grid-area: 3 / 1 / 4 / 2;
}

@media only screen and (max-width: 850px) {
    .side-txt {
        font-size: 25px;
    }
}

@media only screen and (max-width: 650px) {
    .side-txt {
        color: white;
        width: 90%;
        height: 90%;
        padding: 5%;
    }
    .text-background {
        background-color: rgba(1, 1, 1, .5);
    }
    .side-by-side {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #top-image {
        grid-area: 1 / 1 / 2 / 2;
    }

    #top-txt-div {
        grid-area: 1 / 1 / 2 / 2;
    }
    #middle-image {
        grid-area: 2 / 1 / 3 / 2;
    }

    #middle-txt-div {
        grid-area: 2 / 1 / 3 / 2;
    }

    #bot-txt-div {
        grid-area: 3 / 1 / 4 / 2;
    }

    #bot-image {
        grid-area: 3 / 1 / 4 / 2;
    }
}
/**------------------------------------------------------------SIDE-END------------------------------------------------------**/

/**------------------------------------------------------------BOTTOM-START------------------------------------------------------**/
.bottom-section {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/planting-tree.webp") no-repeat center;
    background-size: cover;
}
/**------------------------------------------------------------BOTTOM-END------------------------------------------------------**/

/**------------------------------------------------------------------------------------------------------------------------------**/
/**------------------------------------------------------------LEARN-END----------------------------------------------------**/
/**------------------------------------------------------------------------------------------------------------------------------**/



/**------------------------------------------------------------------------------------------------------------------------------**/
/**------------------------------------------------------------ABOUT-START----------------------------------------------------**/
/**------------------------------------------------------------------------------------------------------------------------------**/

/**------------------------------------------------------------TOP-START------------------------------------------------------**/
.first-section {
    background: url("../images/gardeners.png") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%; 
}

.gardeners-text {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    top: -17%;
    -webkit-text-stroke: 2px black;
    text-align: center;
}

.sticky {
    position: sticky;
    top: 10px;
    background-color: #82FD87;
    color: black;
    width: 300px;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-size: 40px;
    display: none;
}

@media only screen and (max-width: 1200px) {
    .first-section {
        height: 60vh;
    }
}
@media only screen and (max-width: 900px) {
    .first-section {
        height: 50vh;
    }
}

@media only screen and (max-width: 830px) {
    .first-section {
        height: 40vh;
    }
}
/**------------------------------------------------------------TOP-END------------------------------------------------------**/

/**------------------------------------------------------------TEAM-START------------------------------------------------------**/
.team-gallery {
    display: grid;
    width: 80%;
    margin: 0;
    height: fit-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 600px);
    row-gap: 50px;
    column-gap: 50px;
    padding: 5% 10%;
}

.card {
    display: flexbox;
    justify-self: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 370px;
    height: 600px;
}

.gardener {
    position: absolute;
    width: 100%;
    height: 100%;
}

.name {
    font-size: 35px;
    color: white;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 3;
    font-family: 'Work Sans';
}

.bio {
    font-size: 20px;
    color: white;
    position: absolute;
    padding: 10%;
    top: 300px;
    z-index: 3;
    font-family: 'Raleway';
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, .4);
    z-index: 2;
}

.hover-block {
    display: none;
    width: 100%;
    height: 100%;
}

#first-card {
    grid-area: 1 / 1 / 2 / 2;
}
#second-card {
    grid-area: 1 / 2 / 2 / 3;
}
#third-card {
    grid-area: 1 / 3 / 2 / 4;
}
#fourth-card {
    grid-area: 2 / 1 / 3 / 2;
}
#fifth-card {
    grid-area: 2 / 2 / 3 / 3;
}
#sixth-card {
    grid-area: 2 / 3 / 3 / 4;
}

@media only screen and (max-width: 1500px) {
    .team-gallery {
        grid-template-rows: repeat(2, 500px);
    }
    .card {
        width: 310px;
        height: 500px;
    }
    .name {
        top: 120px;
    }

    .bio {
        top: 200px;
    }
}

@media only screen and (max-width: 1300px) {
    .team-gallery {
        grid-template-rows: repeat(2, 450px);
    }
    .card {
        width: 280px;
        height: 450px;
    }
    .name {
        top: 90px;
        font-size: 28px;
    }

    .bio {
        top: 170px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 1200px) {
    .team-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 600px);
    }
    .card {
        width: 370px;
        height: 600px;
    }
    .name {
        top: 130px;;
    }

    .bio {
        top: 300px;
    }
    #first-card {
        grid-area: 1 / 1 / 2 / 2;
    }

    #second-card {
        grid-area: 1 / 2 / 2 / 3;
    }

    #third-card {
        grid-area: 2 / 1 / 3 / 2;
    }

    #fourth-card {
        grid-area: 2 / 2 / 3 / 3 ;
    }

    #fifth-card {
        grid-area: 3 / 1 / 4 / 2;
    }

    #sixth-card {
        grid-area: 3 / 2 / 4 / 3;
    }
}

@media only screen and (max-width: 1000px) {
    .team-gallery {
        grid-template-rows: repeat(3, 500px);
    }
    .card {
        width: 310px;
        height: 500px;
    }
    .name {
        top: 120px;
    }

    .bio {
        top: 200px;
    }
}

@media only screen and (max-width: 850px) {
    .team-gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 600px);
    }
    .card {
        width: 370px;
        height: 600px;
    }
    .name {
        top: 130px;
    }
    .bio {
        top: 300px;
    }

    #first-card {
        grid-area: 1 / 1 / 2 / 2;
    }

    #second-card {
        grid-area: 2 / 1 / 3 / 2;
    }

    #third-card {
        grid-area: 3 / 1 / 4 / 2;
    }

    #fourth-card {
        grid-area: 4 / 1 / 5 / 2;
    }

    #fifth-card {
        grid-area: 5 / 1 / 6 / 2;
    }

    #sixth-card {
        grid-area: 6 / 1 / 7 / 2;
    }
}

@media only screen and (max-width: 550px) {
    .team-gallery {
        grid-template-rows: repeat(6, 500px);
    }
    .card {
        width: 310px;
        height: 500px;
    }
    .name {
        top: 120px;
    }

    .bio {
        top: 200px;
    }
}
/**------------------------------------------------------------TEAM-END------------------------------------------------------**/

/**------------------------------------------------------------FORM-START------------------------------------------------------**/
form {
    width: 50%;
    padding: 10px 25%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    margin-bottom: 100px;
}

.form-container {
    width: 100%;
}   

.join {
    width: 100%;
    color: black;
    font-size: 40px;
    font-family: 'Work Sans';
    text-align: center;
    padding-top: 50px;
}

label {
    font-size: 30px;
    font-family: 'Work Sans';
}

.label-container {
    margin-bottom: 10px;
}

.form-group {
    margin-top: 20px;
}

input {
    width: 96%;
    height: 60px;
    background-color: rgba(1, 1, 1, .2);
    border: none;
    border-radius: 15px;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    width: 250px;
    height: 70px;
    background-color: #363636;
    border: none;
    border-radius: 15px;
    color: #82FD87;
    font-size: 40px;
    font-family: 'Work Sans';
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
}

button:hover {
    color: #363636;
    background-color: #82FD87;
}

@media only screen and (max-width: 1100px) {
    form {
        width: 60%;
        padding: 10px 20%;
    }
}
@media only screen and (max-width: 650px) {
    form {
        width: 80%;
        padding: 10px 10%;
    }
}
/**------------------------------------------------------------FORM-END------------------------------------------------------**/


/**------------------------------------------------------------------------------------------------------------------------------**/
/**------------------------------------------------------------ABOUT-END----------------------------------------------------**/
/**------------------------------------------------------------------------------------------------------------------------------**/
