:root {
    --introSize: 125px;
    --normalSize: 30px;
    --questionFlag: true;
}
div {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.morning {
    background-image: url("../images/morning2.jpg");
}

.library {
    background-image: url("../images/library.jpg");
}

.thinker {
    background-image: url("../images/thinking3.jpg");
}

.locker {
    background-image: url("../images/locker2.jpg");
}

.gym {
    background-image: url("../images/gym.jpeg");
}

.info {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Crimson Text', serif;
    font-family: 'Urbanist', sans-serif;
    height: 50vh;
    padding: 100px;
    background-color: rgb(114, 114, 114);
    font-size: var(--normalSize);
    color: white;
}

.intro {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Crimson Text', serif;
    position: fixed;
    top: 0;
    background-image: url("../images/space3.jpg");
    background-color: black;
    background-size: cover;
    color: white;
    height: min-content;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    font-size: var(--introSize);
}

.intro-unstick {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Crimson Text', serif;
    position: absolute;
    background-image: url("../images/space3.jpg");
    background-color: black;
    background-size: cover;
    color: white;
    height: min-content;
    min-height: 100vh;
    width: 100%;
    font-size: var(--introSize);
}

.intro-text {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Crimson Text', serif;
    display: block;
    padding-top: 100px;
    opacity: 0;
    width: 100%;
    height: min-content;
}

.intro-text-disappear {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Crimson Text', serif;
    padding-top: 100px;
    display: none;
    opacity: 0;
    width: 100%;
    height: min-content;
}

.edited-text {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Crimson Text', serif;
    padding-top: 100px;
    display: none;
    width: 100%;
    height:min-content;
}

#scroll-tracker {
    height: 500vh;
    background-image: url("../images/space3.jpg");
}

.navbar {
    height: 60px;
    background: rgb(153, 153, 153);
    justify-content: right;
    align-items: center;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    width: 100%;
}

.navs {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Crimson Text', serif;
    color: black;
    margin: 20px;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
}

#three {
    line-height: 60px;
}

.conclusion {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Crimson Text', serif;
    font-family: 'Urbanist', sans-serif;
    height: 50vh;
    padding: 100px;
    background-color: rgb(57, 57, 57);
    font-size: var(--normalSize);
    color: white;
}

#fancy-next {
    background-color: transparent;
    color: white;
    border: none;
    font-size: var(--normalSize);
    position: relative;
}

@media only screen and (max-width: 1200px) {
    :root {
            --introSize: 100px;
    }
}

@media only screen and (max-width: 900px) {
    #three {
        padding: 10px;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --introSize: 80px;
        --normalSize: 23px;
    }
}

@media only screen and (max-width: 730px) {
    :root {
        --introSize: 60px;
        --normalSize: 20px;
    }
    #three {
        padding: 10px;
    }
    .info {
        padding: 15px;
    }
    .navbar {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --introSize: 60px;
    }
    #three {
        line-height: 40px;
    }
    .info {
        padding: 15px;
    }
    .navbar {
        justify-content: center;
    }
}